<th:block th:fragment="header(currentUrl)">
    <div class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="img-fluid h-32px" src="/images/logo.png" alt="logo"/>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="/"
                           class="nav-link px-2"
                           th:classAppend="${currentUrl == '/' ? 'text-secondary' : 'text-white'}">
                            Home
                        </a>
                    </li>

                    <!-- Add more links here -->
                </ul>

                <div class="text-end" th:unless="${session.get('isLoggedIn')}">
                    <a th:href="@{/signup}" class="btn btn-success">Signup</a>
                    <a th:href="@{/login}" class="btn btn-outline-light me-2">Login</a>
                </div>
                <div class="text-end" th:if="${session.get('isLoggedIn')}">
                    <form th:action="@{/logout}" method="post">
                        <a th:href="@{/profil}" class="btn btn-outline-light me-2"> Profile</a>
                        <button class="btn btn-danger me-2" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>