<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>profil du joueur</title>
    <!--    <span th:replace="~{/composant/bootstrapImports :: bootstrapImports}"></span> -->
</head>
<body>
<header></header>
<section>
    <div id="infoUser">
        <div id="infoUserGeneral">
            <div id="infoUserGeneralPseudo">
                <p>pseudo</p>
            </div>
            <div id="infoUserGeneralAge">
                <p>XX ans</p>
            </div>
            <div id="infoUserGeneralMail">
                <p>xxx@mail.fr</p>
            </div>
            <div id="infoUserGeneralElo">
                <p>"Debutant" (500 elo)</p>
            </div>
            <div id="infoUserGeneralPays">
                <p>France [tag pour le flag]</p>
            </div>
        </div>
        <div id="infoUserImage">
            <img src="#">
            <div>
                <button>new image</button>
            </div>
        </div>
    </div>
    <div id="infoTournament"></div>
</section>
<footer></footer>
</body>
</html>