<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Tournoi</title>

    <span th:replace="~{/fragments/import :: bootstrap}"></span>
    <span th:replace="~{/fragments/import :: styles('')}"></span>
    <span th:replace="~{/fragments/import :: scripts('details')}"></span>
</head>
<body>
<div class="container mt-5">
    <!-- Détails du tournoi -->
    <h1 class="text-center">Détails du Tournoi</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h3 id="tournamentName">Nom du Tournoi : <strong th:text="${tournament.label}"></strong></h3>
            <!--      <p>Jeu : <span id="game">Nom du jeu</span></p>-->
            <p>Type de tournoi : <span id="tournamentType" th:text="${tournament.format}">Type du tournoi</span></p>
            <p>Date de début : <span id="startDate" th:text="${tournament.startDate}">Date de début</span></p>
            <p>Date de fin : <span id="endDate" th:text="${tournament.endDate}">Date de fin</span></p>
        </div>
        <div>
            <form th:action="@{/finishTournament/id={idTournament}(idTournament=${tournament.getId()})}" method="post">
                <button type="submit" class="btn btn-primary">
                    Finish the tournament
                </button>
            </form>
        </div>
        <div th:if="${isCreator}">
            <button><a th:href="@{/deleteTournament/id={id}(id=${tournament.getId()})}">delete</a></button>
        </div>
    </div>

</div>

<!-- Validation et gestion des commentaires -->
<script>
    document.getElementById('commentForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const commentText = document.getElementById('commentText').value;

        if (commentText.trim()) {
            // Ajouter le commentaire dans la liste des commentaires
            const commentList = document.getElementById('commentsList');
            const newComment = document.createElement('li');
            newComment.className = 'list-group-item';
            newComment.innerHTML = `<strong>Utilisateur X :</strong> ${commentText}`;
            commentList.appendChild(newComment);

            // Réinitialiser le champ de texte
            document.getElementById('commentText').value = '';
        } else {
            alert("Veuillez entrer un commentaire.");
        }
    });
</script>
</body>
</html>
